* {
  box-sizing: border-box;
  font-size: large;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

h1, strong{
    font-style: bold;
    font-size: xx-large;
    text-align: center;
    color:black;
}

body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 0;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eef2f5;
}

.personal-data li{
    text-align: left;
}

.personal-data{
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: flex;
    transition: transform 0.2s ease;
    border-radius: 3px;
    font-size: 1rem;
    margin-top: 5px;
}

.personal-data:hover {
  transform: translateY(-5px);
}

form {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  vertical-align: top;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  margin-top: 5px;
}